/* line 19, ../../../../../.rvm/gems/ruby-1.8.7-p174@cfi/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
body.bp true {
  text-align: center; }
  /* line 32, ../../../../../.rvm/gems/ruby-1.8.7-p174@cfi/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
  * html body.bp true legend {
    margin: 0px -8px 16px 0;
    padding: 0; }
  /* line 36, ../../../../../.rvm/gems/ruby-1.8.7-p174@cfi/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
  html>body.bp true p code {
    *white-space: normal; }
  /* line 51, ../../../../../.rvm/gems/ruby-1.8.7-p174@cfi/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
  body.bp true .container {
    text-align: left; }
  /* line 53, ../../../../../.rvm/gems/ruby-1.8.7-p174@cfi/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
  body.bp true ol {
    margin-left: 2em; }
  /* line 55, ../../../../../.rvm/gems/ruby-1.8.7-p174@cfi/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
  body.bp true sup {
    vertical-align: text-top; }
  /* line 57, ../../../../../.rvm/gems/ruby-1.8.7-p174@cfi/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
  body.bp true sub {
    vertical-align: text-bottom; }
  /* line 59, ../../../../../.rvm/gems/ruby-1.8.7-p174@cfi/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
  body.bp true hr {
    margin: -8px auto 11px; }
  /* line 61, ../../../../../.rvm/gems/ruby-1.8.7-p174@cfi/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
  body.bp true img {
    -ms-interpolation-mode: bicubic; }
  /* line 63, ../../../../../.rvm/gems/ruby-1.8.7-p174@cfi/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
  body.bp true fieldset {
    padding-top: 0; }
  /* line 66, ../../../../../.rvm/gems/ruby-1.8.7-p174@cfi/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
  body.bp true input.text {
    margin: 0.5em 0;
    background-color: #fff;
    border: 1px solid #bbb; }
    /* line 70, ../../../../../.rvm/gems/ruby-1.8.7-p174@cfi/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
    body.bp true input.text:focus {
      border: 1px solid #666; }
  /* line 72, ../../../../../.rvm/gems/ruby-1.8.7-p174@cfi/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
  body.bp true input.title {
    margin: 0.5em 0;
    background-color: #fff;
    border: 1px solid #bbb; }
    /* line 76, ../../../../../.rvm/gems/ruby-1.8.7-p174@cfi/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
    body.bp true input.title:focus {
      border: 1px solid #666; }
  /* line 78, ../../../../../.rvm/gems/ruby-1.8.7-p174@cfi/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
  body.bp true input.checkbox {
    position: relative;
    top: 0.25em; }
  /* line 81, ../../../../../.rvm/gems/ruby-1.8.7-p174@cfi/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
  body.bp true input.radio {
    position: relative;
    top: 0.25em; }
  /* line 84, ../../../../../.rvm/gems/ruby-1.8.7-p174@cfi/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
  body.bp true input.button {
    position: relative;
    top: 0.25em; }
  /* line 87, ../../../../../.rvm/gems/ruby-1.8.7-p174@cfi/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
  body.bp true textarea {
    margin: 0.5em 0; }
  /* line 89, ../../../../../.rvm/gems/ruby-1.8.7-p174@cfi/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
  body.bp true select {
    margin: 0.5em 0; }
  /* line 91, ../../../../../.rvm/gems/ruby-1.8.7-p174@cfi/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/_ie.sass */
  body.bp true button {
    position: relative;
    top: 0.25em; }
