/*
Syntax error: File to import not found or unreadable: blueprint/reset.sass.
              Load paths:
                Compass::SpriteImporter
                C:/Documents and Settings/USER.USER-8D994E82B2/rails-app/cfi-aberdeen/public/stylesheets/sass
                C:/Documents and Settings/USER.USER-8D994E82B2/rails-app/cfi-aberdeen/app/stylesheets
                C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.4/frameworks/blueprint/stylesheets
                C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.4/frameworks/compass/stylesheets
        on line 2 of C:/Documents and Settings/USER.USER-8D994E82B2/rails-app/cfi-aberdeen/app/stylesheets/screen.sass

1: // This import applies a global reset to any page that imports this stylesheet.
2: @import blueprint/reset.sass
3: // To configure blueprint, edit the partials/base.sass file.
4: @import partials/base.sass
5: // Import all the default blueprint modules so that we can access their mixins.
6: @import blueprint.sass
7: // Import the non-default scaffolding module.

Backtrace:
C:/Documents and Settings/USER.USER-8D994E82B2/rails-app/cfi-aberdeen/app/stylesheets/screen.sass:2
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/tree/import_node.rb:64:in `rescue in import'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/tree/import_node.rb:42:in `import'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/tree/import_node.rb:25:in `imported_file'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:148:in `rescue in visit_import'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:153:in `visit_import'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:18:in `visit'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/tree/visitors/base.rb:53:in `map'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:18:in `visit'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/tree/visitors/perform.rb:7:in `visit'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/tree/root_node.rb:20:in `render'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/engine.rb:291:in `_render'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/engine.rb:239:in `block in render'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/util.rb:297:in `silence_sass_warnings'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/engine.rb:239:in `render'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/plugin/compiler.rb:175:in `each'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/plugin/compiler.rb:173:in `each'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/plugin.rb:81:in `update_stylesheets'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/plugin.rb:54:in `check_for_updates'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.1.4/lib/sass/plugin/rack.rb:51:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/warden-0.10.7/lib/warden/manager.rb:35:in `block in call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/warden-0.10.7/lib/warden/manager.rb:34:in `catch'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/warden-0.10.7/lib/warden/manager.rb:34:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/actionpack-3.0.1/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/actionpack-3.0.1/lib/action_dispatch/middleware/head.rb:14:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/rack-1.2.3/lib/rack/methodoverride.rb:24:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/actionpack-3.0.1/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/actionpack-3.0.1/lib/action_dispatch/middleware/flash.rb:182:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/actionpack-3.0.1/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/actionpack-3.0.1/lib/action_dispatch/middleware/cookies.rb:287:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/activerecord-3.0.1/lib/active_record/query_cache.rb:32:in `block in call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/activerecord-3.0.1/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/activerecord-3.0.1/lib/active_record/query_cache.rb:12:in `cache'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/activerecord-3.0.1/lib/active_record/query_cache.rb:31:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/activerecord-3.0.1/lib/active_record/connection_adapters/abstract/connection_pool.rb:355:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/actionpack-3.0.1/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/activesupport-3.0.1/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/actionpack-3.0.1/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/rack-1.2.3/lib/rack/sendfile.rb:107:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/actionpack-3.0.1/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/actionpack-3.0.1/lib/action_dispatch/middleware/show_exceptions.rb:46:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/railties-3.0.1/lib/rails/rack/logger.rb:13:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/rack-1.2.3/lib/rack/runtime.rb:17:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/activesupport-3.0.1/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/rack-1.2.3/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/rack-1.2.3/lib/rack/lock.rb:11:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/dragonfly-0.7.7/lib/dragonfly/middleware.rb:16:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/actionpack-3.0.1/lib/action_dispatch/middleware/static.rb:30:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/railties-3.0.1/lib/rails/application.rb:168:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/railties-3.0.1/lib/rails/application.rb:77:in `method_missing'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/railties-3.0.1/lib/rails/rack/log_tailer.rb:14:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/rack-1.2.3/lib/rack/content_length.rb:13:in `call'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/rack-1.2.3/lib/rack/handler/webrick.rb:52:in `service'
C:/Ruby192/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
C:/Ruby192/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
C:/Ruby192/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: blueprint/reset.sass.\A               Load paths:\A                 Compass::SpriteImporter\A                 C:/Documents and Settings/USER.USER-8D994E82B2/rails-app/cfi-aberdeen/public/stylesheets/sass\A                 C:/Documents and Settings/USER.USER-8D994E82B2/rails-app/cfi-aberdeen/app/stylesheets\A                 C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.4/frameworks/blueprint/stylesheets\A                 C:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.4/frameworks/compass/stylesheets\A         on line 2 of C:/Documents and Settings/USER.USER-8D994E82B2/rails-app/cfi-aberdeen/app/stylesheets/screen.sass\A \A 1: // This import applies a global reset to any page that imports this stylesheet.\A 2: @import blueprint/reset.sass\A 3: // To configure blueprint, edit the partials/base.sass file.\A 4: @import partials/base.sass\A 5: // Import all the default blueprint modules so that we can access their mixins.\A 6: @import blueprint.sass\A 7: // Import the non-default scaffolding module."; }
