%h2 Address

- output_fields_for(@person) do |output|
  = output.text "house_number"
  = output.text 'group_number'
  = output.text "village_name", :label => "Village"

= link_to "Edit address", address_person_path(@person)