- village ||= false
- relationship ||= false

.person
  .image
    = link_to(person_image_with_size(person, 80), person)
  .name
    = link_to person.name, person
  - if village == true && person.village
    .village
      Village: 
      = link_to person.village_name, person.village
  - if relationship
    .relationship-type
      Relationship:
      %span.relationship-type-name
      = relationship
