%h2 Siblings
.people
  %ul
    - @person.siblings.each do |sibling|
      %li= render :partial => "people/person", :locals => {:person => sibling, :village => true}
      
= link_to "Edit siblings", siblings_person_path(@person)