- form_tag add_caretaker_person_path(@person), :method => :post, :id => "add-caretaker" do
  = select_tag :person_id, options_from_collection_for_select(Person.all, :id, :name_and_village)
  %br
  = label_tag 'Relationship'
  = text_field_tag :relationship_type
  %br
  = submit_tag "Add caretaker"