%h1 
  Edit photo for
  = @person.name
  
- form_for @person, :html => { :multipart => true } do |form|
  %p.field
    = form.label :image
    %br
    = form.file_field :image
  
  = form.submit "Save"