.courses-section
  dt
    float: left
    width: 100px
    font-weight: bold

  .course .student_list
    margin: 1em 0

  #students
    margin-bottom: 10px
    
  form.add_student
    margin-top: 10px
    clear: both
  
  .people
    form.button_to
      float: right
      padding-left: 10px
    
    .ajax-delete
      float: right
      padding: 5px
