.courses-section
  dt
    float: left
    width: 100px
    font-weight: bold

  #students
    margin-bottom: 10px
    
  form.add_student
    margin-top: 10px
    clear: both
  
  .students
    li
      clear: both

      .student
        float: left

      form.button_to
        float: left
        padding-left: 10px
      
      .ajax-delete
        padding-left: 10px
