.courses-section
  dt
    float: left
    width: 100px
    font-weight: bold

  #students
    margin-bottom: 10px
    
  .students
    a
      float: left
  
    form.button_to
      float: left
      padding-left: 10px
    
  form.add_student
    margin-top: 10px