.students-section
  #student
    dl
      +clearfix
      
    dt
      clear: left
      float: left
      width: 100px
      font-weight: bold
      
  
    dd.gender
      margin-bottom: 10px
    
    .siblings
      margin-top: 10px
      p
        font-weight: bold
    
      ul
        list-style: disc
