%h1 Users

%ul.pagination
  - User.pagination_letters.each do |letter|
    %li= link_to letter, users_path(:letter => letter)

%ul
  - @users.each do |user|
    %li
      = h user.email
      = link_to 'edit', edit_user_path(user)

= link_to 'Add user', new_user_path
