%h1 Villages

#add_village
  %h2 Add a village
  = render :partial => "form"

%h2 List of villages

%ul#villages
  - Village.all.each do |village|
    %li
      = link_to village.name, village
      = link_to "Edit", edit_village_path(village)
