%h1= @village.name
%h2 People living in this village
%ul.people
  - @village.people.each do |person|
    %li
      = render :partial => "people/person", :locals => {:person => person}
    
%h2 Actions
= link_to "Edit", edit_village_path(@village)